.a{
    background-image: url('lo.jpg');
    height: 600px;
}
.contenu{
    display: flex;
    justify-content: space-between;
}
.m{
    margin-left: 15px;
    margin-top: 10px;

    
    
}
.ele{
    margin: 10px;
    font-size: 25px;
    color: rgb(245, 233, 233);
}
.elem{
    margin-top: 200px;
    margin-left: 30%;
    
}
.G{
    font-size: 100px;
    
}
.h{
    margin-left: 200px;
}
.botton{
    margin-left: 160px;
    background-color: rgb(21, 190, 241);
    border-radius: 30px;
    font-size: 30px;
    width: 255px;
}
.blan{
    color: white;
}
p{
    font-size: 20px;
}
.trois{
    display: flex;
    justify-content: space-around;
   
}
.sect_2{
    margin-right: 200px;
    margin-left: 200px;

}
.di{
    display: flex;
    justify-content: center;
}
.taille{
    width: 250x;
    height: 250px;
}

.sect_3{
    margin-right: 180px;
    margin-left: 180px;
}
.bleu{
    display: flex;
    justify-content: center;
    color: rgb(0, 225, 255);
}
.bout{ 
      margin-left: 130px;
    width: 200px;
    border-radius: 5px;
    height: 45px;
    color: rgb(0, 195, 255);
    border-color: rgb(0, 195, 255);;
    background-color: white;
}
.es{
    display: flex;
    justify-content: space-around;
}
.icon{
    margin-left: 100px;
    
    height: 50px;
    width: 50px;
}
.sect_4{
    margin-left: 180px;
    margin-right: 180px;
}
.WHAT{
    display: flex;
    justify-content: center;
}
.mar{
    display: flex;
    justify-content: center;
}
.sect_5{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    
}
.carous{
    height: 600px;
    width: 600px;
}
.lim
{
    width: 250px;
    height: 250px;
}
.imag{
    display: flex;
    justify-content: space-around;
}
.ce{
    display: flex;
    justify-content: center;
}
.sect_6{
    margin-right: 150px;
    margin-left: 150px;
}
.dep{
    margin-left: 50%;
}
.noir{
    background-color: rgb(56, 50, 50);
    height: 210px;
}
.noi{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 70px;
    
}
.fo{
    display: flex;
    justify-content: center;
    color: white;
}
.fa{
    margin-left: 40%;
    background-color: aliceblue;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}
.fe{
    background-color: rgb(0, 238, 255);
    height: 40px;
    border-radius: 10px;
    
}
.bl{
    color: white;
    margin-left: 50px;
}
.ecout{
    font-size: 4em;
    margin-left: 40%;
    color:darkcyan;
}